.idea/
providence.egg-info
.eggs
*.egg-info
*.pyc
*.pyx
.DS_Store
dist/
build/
.coverage
htmlcov/
.eiggs/
.pytest_cache*
__pycache__
venv*
.tox
.toxbase
.coverage.*
coverage.xml
.python-version
tests/log.log
.data/
.tmp/
