# **Raytheon Technologies proprietary**
# Export controlled - see license file

# Generic
pre-commit

# Testing
pytest
pytest-cov
pytest_mock
pytest-benchmark
tox
tox-pyenv

# coverage
coverage
Sphinx
sphinx_rtd_theme
pytest_cov


# training new models
seaborn

# runtime tensor shape checking
typeguard==2.13.3