# **Raytheon Technologies proprietary**
# Export controlled - see license file

# Generic
pre-commit

# Testing
pandas-stubs<2.0.0
pytest
pytest-cov
pytest_mock
pytest-mypy
pytest-benchmark
tox
tox-pyenv
types-requests

# coverage
coverage
Sphinx
sphinx_rtd_theme
pytest_cov


# training new models
seaborn
